body {
  /* width: 400px;
  height: 300px; */
  /* padding: 100px; */
  width: 600px;
  height: 350px;
  margin: 0;
  box-sizing: border-box;
  background: #78da78;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-width: 0px 0px 1px;
  border-color: #ccc;
  border-style: solid;
  background-color: #f1f1f1;
  display: flex;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  flex: 1;
}

/* Change background color of buttons on hover */
.tablinks:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tablinks.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}

/* Slider styles */
.rs-container * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* we added the margin-left here */
.rs-container {
  font-family: Arial, Helvetica, sans-serif;
  height: 45px;
  position: relative;
  margin-left: 10px;
}
.rs-container .rs-bg,
.rs-container .rs-selected {
  background-color: #eee;
  border: 1px solid #ededed;
  height: 10px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 100%;
  border-radius: 3px;
}
.rs-container .rs-selected {
  background-color: #00b3bc;
  border: 1px solid #00969b;
  transition: all 0.2s linear;
  width: 0;
}
.rs-container.disabled .rs-selected {
  background-color: #ccc;
  border-color: #bbb;
}
.rs-container .rs-pointer {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  left: -10px;
  position: absolute;
  top: 0;
  transition: all 0.2s linear;
  width: 30px;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 6px #ebebeb,
    1px 1px 4px rgba(0, 0, 0, 0.1);
}
.rs-container.disabled .rs-pointer {
  border-color: #ccc;
}
.rs-container .rs-pointer::before,
.rs-container .rs-pointer::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 9px;
  background-color: #ddd;
  left: 12px;
  top: 5px;
}
.rs-container .rs-pointer::after {
  left: auto;
  right: 12px;
}
.rs-container.disabled .rs-pointer {
  cursor: default;
}
.rs-container.sliding .rs-selected,
.rs-container.sliding .rs-pointer {
  transition: none;
}
.rs-container .rs-scale {
  left: 0;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}
.rs-container .rs-scale span {
  float: left;
  position: relative;
}
.rs-container .rs-scale span::before {
  background-color: #ededed;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 1px;
}
.rs-container.rs-noscale span::before {
  display: none;
}
.rs-container.rs-noscale span:first-child::before,
.rs-container.rs-noscale span:last-child::before {
  display: block;
}
.rs-container .rs-scale span:last-child {
  margin-left: -1px;
  width: 0px;
}
.rs-container .rs-scale span ins {
  color: #333;
  display: inline-block;
  font-size: 12px;
  margin-top: 20px;
  text-decoration: none;
  display: none;
}
.rs-container.disabled .rs-scale span ins {
  color: #999;
}
.rs-tooltip {
  color: #333;
  width: auto;
  min-width: 60px;
  height: 30px;
  position: relative;
  background: #fff;
  border: 1px solid #00969b;
  border-radius: 3px;
  position: absolute;
  transform: translate(-50%, -35px);
  left: 13px;
  text-align: center;
  font-size: 13px;
  padding: 6px 10px 0;
}
.rs-container.disabled .rs-tooltip {
  border-color: #ccc;
  color: #999;
}

/* Slider styles */
#samplingRateContainer,
#wordDifficultyContainer,
#phraseLengthContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* #wordDifficultyLabel, */
#samplingRateLabel,
#phraseLengthLabel,
#currentLanguageSection,
#unblockCurrent,
#blockCurrent {
  color: white;
  text-shadow: 1px 1px grey;
}

/* MARK: buttons on block page */
#unblockCurrent,
#blockCurrent,
#languageDropdown {
  background: darkgreen;
  border-radius: 10px;
  /* outline: none; */
  outline: grey;
  border: 1px solid white;
}

#unblockCurrent:hover,
#blockCurrent:hover,
#languageDropdown:hover {
  background: green;
  cursor: pointer;
}
/* #samplingRateSlider,
#wordDifficultySlider,
#phraseLengthSlider {
  width: 100%;
  height: 50%;
}  */

/* Dropdown styles */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

#languageSearch {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#languageSearch:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Advanced Options Styles */
#advancedOptions {
  display: block;
}

/* MARK: Multi-selection dropdown */

/* * {
  box-sizing: border-box;
} */

.container {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  /* background: linear-gradient(
    -45deg,
    #183855 0,
    #183855 25%,
    #102331 50%,
    #22254c 75%,
    #22254c 100%
  ); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 100px;
  margin-left: 20px;
  color: #ecf0f1;
  width: 100%;
  height: 100%;
}

.container {
  /* max-width: 50vw; */
  margin: 0 auto;
}

select[data-multi-select-plugin] {
  display: none !important;
}

.multi-select-component {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding: 3px 8px;
  font-size: 14px;
  line-height: 1.42857143;
  padding-bottom: 0px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.autocomplete-list {
  border-radius: 4px 0px 0px 4px;
}

.multi-select-component:focus-within {
  box-shadow: inset 0px 0px 0px 2px #78abfe;
}

.multi-select-component .btn-group {
  display: none !important;
}

.multiselect-native-select .multiselect-container {
  width: 100%;
}

.selected-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  background-color: #ededed;
  white-space: nowrap;
  margin: 1px 5px 5px 0;
  height: 22px;
  vertical-align: top;
  cursor: default;
}

.selected-wrapper .selected-label {
  /* max-width: 300px; */

  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 4px;
  vertical-align: top;
  /* white-space: nowrap; */
  /* width: 100%; */
}

.selected-wrapper {
  max-width: 90%;
}

.selected-label {
  max-width: 90%;
}

.selected-wrapper .selected-close {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.49em;
  margin-left: 5px;
  padding-bottom: 10px;
  height: 100%;
  vertical-align: top;
  padding-right: 4px;
  opacity: 0.2;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  font-weight: 700;
}

.search-container {
  display: flex;
  flex-direction: row;
}
/* we changed the width from 60 to 100 */
.search-container .selected-input {
  background: none;
  border: 0;
  height: 20px;
  width: 150px;
  padding: 0;
  margin-bottom: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-container .selected-input:focus {
  outline: none;
}

.dropdown-icon.active {
  transform: rotateX(180deg);
}

.search-container .dropdown-icon {
  display: inline-block;
  padding: 10px 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border: 0 !important;
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* SVG background image */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23818181%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23818181%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
}
/* The actual drop down items */
.search-container ul {
  position: absolute;
  list-style: none;
  padding: 0;
  z-index: 3;
  margin-top: 29px;
  width: 100%;
  right: 0px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.search-container ul :focus {
  outline: none;
}

.search-container ul li {
  display: block;
  text-align: left;
  padding: 8px 29px 2px 12px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  min-height: 31px;
}

.search-container ul li:first-child {
  border-top: 1px solid #ccc;
  border-radius: 4px 0px 0 0;
}

.search-container ul li:last-child {
  border-radius: 4px 0px 0 0;
}

.search-container ul li:hover.not-cursor {
  cursor: default;
}

.search-container ul li:hover {
  color: #333;
  background-color: rgb(251, 242, 152);
  border-color: #adadad;
  cursor: pointer;
}

/* Adding scrool to select options */
.autocomplete-list {
  max-height: 130px;
  overflow-y: auto;
}

#London {
  /* background: #00b3bc; */
  width: 100%;
  height: 100%;
}

.allBlockFunctionality {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.allBlockFunctionality > * {
  width: 80%;
  height: 40%;
}

#blockCurrent {
  width: 50%;
  height: 20%;
}

/* .checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
/* .checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

/* Create a custom checkbox */
/* .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
} */

/* On mouse-over, add a grey background color */
/* .checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
} */
/* When the checkbox is checked, add a blue background */
/* .checkboxContainer input:checked ~ .checkmark {
  background-color: #2196f3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

/* Show the checkmark when checked */
/* .checkboxContainer input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the checkmark/indicator */
/* .checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

.checkboxAndButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  height: 100%;
}

.checkboxContainer,
#blockCurrent {
  /* padding: 30px; */
  margin-right: 12px;
}

.unblockContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-around;
  /* align-items: center; */
  align-items: baseline;
  width: 60%;
  height: 100%;
}

.container {
  width: 80%;
  height: 40%;
  margin-right: 25px;
}

#unblockCurrent {
  width: 40%;
  height: 40%;
}
