en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
Flask==1.1.2

google==3.0.0
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-cloud==0.34.0
google-cloud-core==1.5.0
google-cloud-dataproc==2.2.0
google-cloud-speech==2.0.1
google-cloud-translate==3.0.2
googleapis-common-protos==1.52.0

Jinja2==2.11.2
requests==2.25.1
spacy==2.3.5